{% extends 'templates/base.twig' %}

{% block content %}

<section class="promo--headline">
            <div class="promo__content">
              <h3>Page Not Found</h3>
              <div class="button-container">
                <a href="{{ site.link }}" class="button">Back to Home</a>
              </div>
            </div>
        </section>

{% endblock %}
