{% include 'partials/header.twig' %}

<div id="schedule-app">
  <app-list></app-list>
  <app-map></app-map>
</div>

<script src="{{ theme.link }}/schedule/js/vue.js"></script>
<script src="{{ theme.link }}/schedule/js/schedule.js"></script>

<link rel="stylesheet" href="{{ theme.link }}/schedule/css/list.css" />
<link rel="stylesheet" href="{{ theme.link }}/schedule/css/map.css" />
