.tiles {
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
}

.tile {
  border: 10px solid $lightGray;
  color: $white;
  box-sizing: border-box;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  min-height: 90vw;
  flex-basis: 100%;

  .tile__content {
    padding: 2em;
  }

  h3 {
    font-size: 2em;
    font-family: "Larsseit-Bold";
    margin-bottom: 1em;
  }

  &--button {
    justify-content: center;
    @extend .tile;
  }

  &--small {
    background-color: $hopBlue;
    @extend .tile;

    &:nth-child(even) {
      background-color: $hopPurple;
    }
  }

  &--med {
    background-color: $hopRed;
    @extend .tile;

    [class*="button"] {
      margin-top: 2em;
    }
  }
}

@media screen and (min-width: 720px) {
  .tile {
    flex-basis: 50%;
    min-height: 45vw;
  }
}

@media screen and (min-width: 1024px) {
  .tiles {
    flex-basis: 33.333%;
  }

  .tile {
    min-height: 31vw;

    h3 {
      font-size: 3em;
    }

    &--small, &--button {
      flex-basis: 33%;
    }

    &--med {
      flex-basis: 66%;
      padding: 2em 0;

      .tile__content {
        max-width: 800px;
        margin: 0 auto;
      }
    }
  }
}
